<div class="wrapper fadeInDown">
    <div id="formContent">
        <!-- Tabs Titles -->
        <h2 class="active"> Sign Up </h2>


        <!-- Icon -->
        <div class="fadeIn first">

        </div>

        <!-- Login Form -->
        <form #form="ngForm" (ngSubmit)="onSubmit(form)">
            <input type="text" id="login" class="fadeIn second" name="username" placeholder="username" required ngModel>
            <input type="text" id="email" class="fadeIn third" name="email" placeholder="email" required ngModel>
            <input type="text" id="password" class="fadeIn third" name="password" placeholder="password" required
                ngModel>
            <input type="submit" class="fadeIn fourth" value="Register">
        </form>

        <!-- Remind Passowrd -->

        <h2 class="inactive underlineHover" routerLink="/login">Sign In </h2>
    </div>
</div>