<div class="container">
    <table class="table table-striped table-hover">
        <thead class="table-success">
            <tr>
                <th scope="col">Patient Name</th>
                <th scope="col">Doctor Name</th>
                <th scope="col">Diagnosis</th>
                <th scope="col">Prescription</th>
                <th scope="col">TestResults</th>
                <th scope="col">Date Of Visit</th>
                <th scope="col">Action</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let history of MedicalHistory; let i = index">
                <td>{{ history.PatientID }}</td>
                <td>{{ history.DoctorID }}</td>
                <td>{{ history.Diagnosis }}</td>
                <td>{{ history.Prescription }}</td>
                <td> {{ history.TestResults }}</td>
                <td>{{ history.DateOfVisit | date}}</td>

                <!-- <td class="edit-block">
            <span class="edit" [routerLink]="'/doctor/edit/'+ doctor.DoctorID">
              <button type="button" class="btn btn-success btn-sm me-2">
                Edit
              </button>
            </span>
            <span class="delete" (click)="DeleteDoctorDetail(doctor, i)">
              <button type="button" class="btn btn-danger btn-sm">Delete</button>
            </span>
          </td> -->
            </tr>
        </tbody>
    </table>
</div>