<div class="container">
  <form class="row g-3" [formGroup]="PatientForm" (ngSubmit)="onSubmit()">
    <div class="col-md-6">
      <label for="inputename" class="form-label">Patient Name</label>
      <input type="text" class="form-control" formControlName="PatientName" />
    </div>
    <div class="col-md-6">
      <label for="inputJobid" class="form-label">Address</label>

      <input type="text" class="form-control" formControlName="Address" />

    </div>

    <div class="col-md-6">
      <label for="inputmanger Id" class="form-label">Phone Number</label>
      <input type="text" class="form-control" formControlName="PhoneNumber" />
    </div>

    <div class="col-md-6">
      <label for="inputhiredate" class="form-label">Email</label>
      <input type="email" class="form-control" formControlName="Email" />
    </div>

    <div class="col-md-6">
      <label for="inputSalary" class="form-label">Gender</label>
      <select class="form-control" formControlName="Gender">
        <option value="Male">Male </option>
        <option value="Female">Female </option>
      </select>
    </div>

    <div class="col-md-6">
      <label for="inputcomission" class="form-label">DOB</label>
      <input type="date" class="form-control" formControlName="DateOfBirth" />
    </div>

    <div class="col-12">
      <button type="submit" class="btn btn-primary">Submit</button>
    </div>
  </form>
</div>